*{
    box_sizing: border-box;
    background-color: blueviolet;
}
html, body {
    margin: 0;
    padding: 0;
  }

.titulo {
    margin-top: 24px;
    padding: 1rem 2rem;
    font-size: 1 rem;
    position: relative;
    transform: translateY(100%);
    opacity: 100;
    font-family: arial;
    transition: all 300ms ease;
    transition-delay: 500ms;
    text-align: center;
    color: #fff;
    @media (min-width: 480px) {
      font-size: 2rem;
    }
    
    @media (min-width: 768px) {
      font-size: 64px;
    }
}
.actividad2-1{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.actividad2{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 150px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.actividad2 h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

.actividad2 h4 {
    font-size: 18px;
    font-family: 'calibri';
    margin-bottom: 5px;
    background-color: #24303c;
}
.formulario2 {
    width: 100%;
    margin-bottom: 15px;
    background: #24303c;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(128, 128, 128);
    text-align: center;
}
.formulario2 h4{
    text-align: start;
}

.formulario3 {
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.formulario {
    width: 100%;
    background: #24303c;
    padding: 10px;
    padding-right: 0px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.actividad2 p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.botones {
    width: 100%;
    background: #1f53c5;
    padding: 12px;
    border: none;
    margin-bottom: 36px ;
    color: white;
    border: 1px solid #1f53c5;
    font-size: 16px;
}
.contenedor-botones {
  display: flex;
  justify-content: center;

}

.botones2 {
  width: 20%;
  background: #1f53c5;
  padding: 12px;
  border: none;
  margin: 16px 0;
  color: white;
  border: 1px solid #1f53c5;
  font-size: 30px;
  margin: 5px;
}

.resultado {
    font-size: 22px;
    padding-left: 30px;
    margin: 16px 0;
    text-align: left;
}

/*redes sociales*/

.redesSociales {
  min-width: 600px;
  display: flex;
  justify-content: space-around;
}

.redesSociales a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #163780;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.redesSociales a:hover {
  transform: scale(1.2);
}